
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: "roboto";
  width: 100vw;
  height: 100vh;
  margin-left: 100px;
  margin-top: 30px;
  width: 80%;
  height: 80%;
  /*width: 1194px;
  height: 798px;*/
}
.kurs {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 55px;
  margin-top: 100px;
}
.main2 {
  display: flex;
  font-family: "roboto", sans-serif;
  width: 1192px;
  height: 396px;
  padding: 0px;
}
.first-div {
  font-size: 24px;
  font-family: "roboto", sans-serif;
  width: 662px;
  height: 396px;
}
.photo {
  margin-left: 200px;
  width: 314px;
  height: 315px;
}
.pself {
  width: 314px;
  height: 315px;
}

.footdiv {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 32px;
}
.footdiv2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 55px;
}
.h3foot,
.h3foot2 {
  align-items: center;
  padding-bottom: 0px;
  font-family: roboto;
  font-size: 18px;
  width: 150px;
  height: 39px;
  margin-bottom: 50px;
  margin-left: 95px;
}

h3 {
  font-weight: bold;
}

@media screen and (min-width: 601px) and (max-width: 990px) {
  .main {
    font-family: "roboto slab";
    width: 100vw;
    height: 100vh;
    margin-left: 100px;
    margin-top: 30px;
    width: 82%;
    height: 62%;
  }
  .main2 {
    display: flex;
    font-family: "roboto slab";
    width: 1192px;
    height: 150px;
    margin: 0px;
    padding: 0px;
  }
  .kurs {
    font-family: "roboto slab";
    font-weight: bold;
    font-size: 30px;
    margin-top: 100px;
    width: 200px;
    height: 50px;
    margin-bottom: 0px;
  }
  .first-div {
    font-size: 14px;
    font-family: "roboto", sans-serif;
    width: 383.41px;
    height: 216.61px;
    margin-top: 0px;
  }
  .photo {
    margin-left: 100px;
    width: 10px;
    height: 10px;
  }
  .pself {
    width: 181px;
    height: 182.44px;
  }
  .footdiv {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 70px;
  }
  .footdiv2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .h3foot {
    align-items: center;
    padding-bottom: 0px;
    font-family: "roboto";
    font-size: 11px;
    width: 86px;
    height: 45px;
    margin-bottom: 50px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .h3foot2 {
    align-items: center;
    padding-bottom: 0px;
    font-family: "roboto";
    font-size: 11px;
    width: 110px;
    height: 45px;
    margin-bottom: 50px;
    padding-left: 0px;
    margin-left: 55px;
    margin-right: 36px;
  }
  h3 {
    font-weight: bold;
  }
  .phototwo {
    display: none;
  }
  .maincenter {
    display: flex;
    align-items: column;
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .main {
    font-family: roboto, slab;
    width: 100vw;
    height: 100vh;
    margin-left: 50px;
    margin-top: 30px;
  }
  .main2 {
    display: flex;
    font-family: "roboto slab";
    width: 1192px;
    height: 150px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  .kurs {
    font-family: "roboto slab";
    font-weight: bold;
    font-size: 25px;
    margin-top: 80px;
    width: 150px;
    height: 40px;
    margin-bottom: 0px;
  }
  .first-div {
    font-size: 12px;
    font-family: "roboto", sans-serif;
    width: 310px;
    height: 180px;
    margin-top: 0px;
  }
  .photo {
    margin-left: 65px;
    margin-right: 50px;
    width: 10px;
    height: 10px;
    position: relative;
    margin-top: 20px;
  }
  .pself {
    width: 170px;
    height: 160px;
  }
  .footdiv {
    margin-top: 70px;
  }
  .footdiv2 {
    display: flex;
    width: 300px;
    align-items: center;
    margin-top: 180px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .h3foot {
    align-items: center;
    padding-bottom: 0px;
    font-family: "roboto";
    font-size: 11px;
    width: 86px;
    height: 45px;
    margin-bottom: 50px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .h3foot2 {
    align-items: center;
    padding-bottom: 0px;
    font-family: "roboto";
    font-size: 11px;
    width: 110px;
    height: 45px;
    margin-bottom: 50px;
    padding-left: 0px;
    margin-left: 36px;
    margin-right: 36px;
  }
  h3 {
    font-weight: bold;
  }
  .phototwo {
    display: none;
  }
  .maincenter {
    display: flex;
    align-items: column;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.title {
  font-size: 55px;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
  /*width: 667px;*/
  /*height: 93;*/
  margin-top: 40px;
  margin-left: 80px;
}
.list {
  width: 662px;
  height: 374px;
  font-size: 24px;
  font-family: "Roboto";
  list-style-type: disc;
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
}
.main {
  list-style-type: disc;
  align-items: flex-start;
  margin-left: 100px;
}

/*tablet*/

@media screen and (min-width: 601px) and (max-width: 990px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  .title {
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
    width: 386px;
    height: 53;
    margin: 0px;
    padding: 0px;
    margin-top: 60px;
    margin-left: 60px;
  }
  .list {
    width: 383px;
    height: 216px;
    font-size: 14px;
    font-family: "Roboto";
    list-style-type: disc;
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
  }
  .main {
    list-style-type: disc;
    align-items: flex-start;
    margin-left: 80px;
  }
}

/*phone*/

@media screen and (min-width: 300px) and (max-width: 600px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  .title {
    font-size: 26px;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
    width: 310px;
    height: 43;
    margin: 0px;
    padding: 0px;
    margin-top: 40px;
    margin-left: 40px;
  }
  .list {
    width: 299px;
    height: 174px;
    font-size: 12px;
    font-family: "Roboto";
    list-style-type: disc;
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
  }
  .main {
    list-style-type: disc;
    align-items: flex-start;
    margin-left: 60px;
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#main_section {
    height: 100vh;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    padding-top: 160px;
    padding-left: 85px;
    overflow: hidden;
}

h2 {
    font-family: "Roboto Slab", serif;
    font-size: 55px;
     


}

.amount {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: -8px;
    font-weight: 400;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    font-weight: 400;


}

.main_contents {

    display: flex;
    justify-content: flex-start;
    font-family: "Roboto", sans-serif;
    margin-top: 60px;

}

.first_text {
    width: 314px;
}

.text_title {
    font-size: 25px;
    line-height: 101.4%;
    font-weight: 400;
    width: 230px;
}

.text_inner {
    font-size: 18px;
    margin-top: 20px;

}

.second_text {
    width: 308px;
    margin-left: 65px;
}



/* Design For Tablet */

@media (min-width: 601px) and (max-width: 991px) {


    .amount {
        font-size: 14px;
        font-weight: 400;
    }

    h3 {
        font-family: "Roboto", sans-serif;
        font-size: 46px;
        font-weight: 400;
        width: 90%;

    }

    h2 {
        font-size: 32px;
        width: 90%;
    }

    .first_text {
        max-width: 46%;

    }

    .text_title {
        font-size: 14px;
        font-weight: 400;



    }

    .text_inner {
        font-size: 14px;
        margin-top: 20px;
        width: 228px;
    }

    .second_text {
        max-width: 25%;
        margin-left: 75px;
    }

}




 
    

/* Design For Mobile */



@media (min-width: 300px) and (max-width: 600px) {





    .amount {
        font-size: 14px;
        font-weight: 400;
    }

    h3 {
        font-family: "Roboto", sans-serif;
        font-size: 46px;
        font-weight: 400;
        width: 90%;

    }


    .container {

        max-width: 100%;
        margin: 0 auto;
        padding-top: 130px;
        padding-left: 30px;
    

    }

    h2 {
        font-size: 26px;
        max-width: 75%; 
        /* background-color: red;  */
    }

    .first_text {
        max-width: 45%;
    }

    .text_title {
        font-size: 14px;
        font-weight: 400;
    }

    .text_inner {
        font-size: 13px;
        margin-top: 20px;
    }

    .second_text {
        margin-left: 20px;
        max-width: 46%;
    }
}

/* footer */
/* Design for Desktop */


footer {
    background-color: black;
    width: 100%;
    height: 400px;
}

 
.footer-container {
    max-width: 1440px;
    width: 87%;
    margin: 0 auto;
}

.first_logo {
    width: 115px;
    height: 68px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.images {
    width: 35px;
    height: 33px;
    display: flex;
}

.allfooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.rightside {
    width: 30%;
}

.leftside {
    width: 50%;
    /* padding-left: 25px; */
}

.last {
    padding-top: 40px;
    /* padding-left: 25px; */
}

.mail {
    width: 270px;
    height: 40px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 15px;
}

.last {
    width: 230px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 125px;
}

.number {
    color: #FFFFFF;
    width: 230px;
    height: 40px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-left: 15px;
    
}

.phone {
    display: flex;
    margin-top: 40px;
    align-items: baseline;
}

.gmail {
    display: flex;
    align-items: baseline;
   
}



/* Design for Tablet */
@media (min-width: 601px) and (max-width: 991px) {
    footer {
        background-color: black;
        width: 100%;
        height: 280px;
    }

    .footer-container {
        max-width: 991px;
        width: 90%;
        margin: 0 auto;
    }

    .first_logo {
        width: 67px;
        height: 54px;
    }

    .images {
        width: 20px;
        height: 20px;
    }

    .rightside {
        width: 30%;
        margin-top: -30px;
    }

    .leftside {
        width: 50%;
        padding-left: 40px;
    }

    .mail {
        width: 155px;
        height: 23px;
        color: #FFFFFF;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-left: 15px;
        margin-top: 20px;
    }

    .last {
        width: 50%;
        height: 23px;
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        color: #FFFFFF;
        margin-top: 55px;
        padding-left: 40px;
    }

    .number {
        color: #FFFFFF;
        height: 22px;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-left: 12px;
        
    }

    .phone {
        display: flex;
        margin-top: 40px;
        align-items: baseline;
    }

    

    .gmail {
        display: flex;
        align-items: baseline;

    }

    .gmail img {
        width: 15px;
    }

    .phone img {
        width: 15px;
    }
}

/* Design for mobile */


@media (min-width: 300px) and (max-width: 600px) {
    .allfooter {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
         
    }

    .mail {
        max-width: 90%;
        font-size: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-left: 6px;
        margin-top: -10px;
    }
    .number {
        max-width: 90%;
        font-size: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-left: 6px;

    }

    footer {
        background-color: black;
        width: 100%;
        height: 350px;
    }

    .footer-container {
        max-width: 100%;
        margin: 0 auto;
        padding-left: 5px;

    }

    .first_logo {

        width: 54px;
        height: 32px;
        margin-bottom: 5px;
    }

    .images {
        width: 15px;
        height: 15px;
    }

    .rightside {
        width: 50%;
    }

    .last {
        max-width: 60%;
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        color: #FFFFFF;
        margin-top: 100px;
    
        padding: 0;
    }
}

.gmail {
    display: flex;
    align-items: baseline;
    margin-top: -17px;
}

.gmail img {
    width: 15px;
}

.phone img {
    width: 15px;
}
img {
    margin: 0px 5px;
}

#main_cards{
    width: 100%;

}
.container{
    /* background-color: purple; */
    max-width: 1440px;

    margin: 0 auto;
  padding: 50px 0 0 0;

}
.card_title{
    /* background-color: red; */
    padding-left: 115px;
    margin-bottom: 80px;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    
    padding-left: 80px;
}
.content-box{
    /* .............. */
     border-radius: 30px;
     background-color:white;
     max-width:  760px;
     padding: 20px 0px 30px 40px;
}
.image-description{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.image{
    max-width: 100%;
}
.profile{
    max-width: 100%;
}
p{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    line-height: 150%;
    max-width: 700px; 
    
    
}
.profile-description{
    margin-left: 30px;
}
h3{
    font-size: 30px;
    font-family: "Roboto Slab", serif;

}
h2{
    font-size: 55px;
    font-family: "Roboto Slab", serif;

    font-weight: bold;
}
.cards_box{
    
    display: flex;

max-width: 100%;
padding-left: 60px;
    margin: 0 auto;
    flex-wrap: wrap;
    /* justify-content: center;  */
    /* /* align-items: center; */

}
.program_card{
    /* background-color: blue; */
    /* max-width: 100%; */
    /* max-width: 399px; */
    max-width: 30%;
    margin: 20px  ;
    border-radius: 30px;
    overflow: hidden;
  
    box-shadow: 1px 1px 15px  #b6a8a8;
    
}
.img_part{
    max-width: 100%;
   
}
img{
width: 100%;
object-fit: cover;

}
.card_describing{
    
    max-width: 100%;
    padding: 5px 20px 15px ;
}
h3{
    font-size: 30px;
    font-weight: bold;
}
p{
    margin-top: 36px;
    font-size: 25px;
    line-height: 130%;
}
.empty{
    margin-top: 0;
}
@media (min-width:992px) and (max-width:1269px) {
    .cards_box{
    
        display: flex;
    
    max-width: 100%;
    padding-left: 20px;
        margin: 0 auto;
        flex-wrap: wrap;
        /* justify-content: center;  */
        /* /* align-items: center; */
    
    }
    .card_title{
        /* background-color: red; */
        padding-left: 85px;
        margin-bottom: 80px;
    }
    .program_card{
        /* background-color: blue; */
        /* max-width: 100%; */
        /* max-width: 399px; */
        max-width: 30%;
        margin: 20px 15px  ;
        border-radius: 30px;
        overflow: hidden;
      
        box-shadow: 1px 1px 15px  #b6a8a8;
        
    }
}
@media  (max-width:991px) {
   .container{
    max-width: 100%;
padding: 30px 30px 0;

   }
    .cards_box{
   
        display: flex;
 /* padding-left: 0; */
padding-left: 18px;
/* justify-content: center; */
        margin: 0 auto;
 
           flex-wrap: wrap;
max-width: 100%;
   /* justify-content: flex-start; */
 
    }
    .program_card{
        /* background-color: blue; */
        /* max-width: 100%; */
        /* max-width: 232px; */
        max-width: 29%;
        margin: 18px 15px ;
        border-radius: 30px;
        overflow: hidden;
 
        box-shadow: 1px 1px 15px  #b6a8a8;
        
    }
    h3{
        font-size: 17px;
    }
    p{
        font-size: 14px;
        margin-top: 25px;
       
        line-height: 130%;
    }
    .card_describing{
    
        max-width: 100%;
        padding: 2px 10px 10px ;
    }
    .card_title{
        /* background-color: red; */
        padding-left: 55px;
        margin-bottom: 60px;
    }
    h2{
        font-size: 32px;
    }
    .img_part{
        max-width: 100%;
       
    }
    img{
    max-width: 100%;
    
    
    }
  
}
@media (min-width:601px) and (max-width:770px) {
    .program_card{
 
      max-width: 27%;
        margin: 18px 15px ;
        border-radius: 30px;
        overflow: hidden;
 
        box-shadow: 1px 1px 15px  #b6a8a8;
        
    }
    .cards_box{
 
        display: flex;
 padding-left: 0;

/* justify-content: center; */
        margin: 0 auto;
 
           flex-wrap: wrap;
max-width: 100%;

   /* justify-content: flex-start; */
 
    }
}
@media  (max-width:600px) {
   .container{
   padding: 30px 0 0 0 ;
max-width: 100%;
    /* margin: 0 ; */
  

   }
 
   .card_title{
    /* padding-left: 40px; */
 
    margin-bottom: 40px;
    padding-left: 34px;
   }
   h2{
    font-size: 26px;
    line-height: 102%;
  
   }
   .img_part{
    max-width: 100%;
    border-radius: 0px;
   
}
img{
    width: 100%;


}
.cards_box{
    
    display: flex;

padding-left: 0;
flex-direction: column;
    /* margin: 0 auto; */
 
    flex-wrap: nowrap;

/* justify-content: flex-start; */

}

   /* .row{
    padding: 0 40px;

   } */
   .program_card{
    /* background-color: blue; */
    /* max-width: 100%; */
    margin: 18px auto;
    border-radius: 24px;
    overflow: hidden;
max-width: 50%;
    /* max-width: 186px; */
    box-shadow: 1px 1px 15px  #b6a8a8;
    

}
.card_describing{
    padding: 5px 15px 15px 15px ;
   
}
h3{
    font-size: 14px;

}
p{
    font-size: 12px;
    margin-top: 25px;
    line-height: 15px;
}

}
@media (min-width:601px) and (max-width:991px) {
    .container{
        max-width: 100%;
        padding: 30px 30px 0;
       
    }
    .content-box{
        border-radius: 30px;
        background-color:white;
        /* max-width: 760px; */
        /* max-width: 100%; */
        padding: 20px 51px 20px 40px;

   }
   h2{
    font-size: 32px;
   }
   h3{
    font-size: 17px;
   }
   p{
    font-size: 12px;
   }
   .image-description{
    
    margin-top: 20px;
}
.image{
    max-width: 35%;

}
.profile{
    max-width: 100%;
}
}
@media (min-width:300px) and (max-width:600px) {
    .container{
        max-width: 100%;
        padding: 30px 30px 0;
       
    }
    .content-box{
        border-radius: 30px;
        background-color:white;
        /* max-width: 760px; */
        /* max-width: 100%; */
        padding: 15px 27px 18px 30px;

   }
   h2{
    font-size: 26px;
   }
   h3{
    font-size: 14px;
   }
   p{
    font-size: 10px;
   }
   .image-description{
    
    margin-top: 20px;
}
.image{
    max-width: 30%;
}
.profile{
    max-width: 100%;
}
.facebook{
    width: 20px;
}
}
.container{
    
    max-width: 1440px;
    margin: 0 auto;
}

.content-title{
    font-family: "Roboto Slab", serif;
    font-size: 55px;
    padding-left: 85px;
}
.content-box{
    font-family: "Roboto", serif;
      display: flex;
     margin-top: 100px;
     padding-left: 100px;
      
}
.content-box1 , .content-box2 ,.content-box3{
    max-width: 30%; 
    margin: 0 80px 0 0;

}
.paragraph{
    font-size: 18px ;
    line-height: 130%;
    width: 223px;
    margin-top: 10px;
}
.title{
    font-size: 25px;
    color: #1E4681;
}
@media (min-width:601px) and (max-width:991px) {
    
    .content-title{
        font-family: "Roboto Slab", serif;
        font-size: 32px;
        padding-left: 80px;
    } 
    .title{
        font-size: 15px;
        color: #1E4681;
    }
    .paragraph{
        font-size: 11px ;
        line-height: 130%;
        width: 160px;
        margin-top: 10px;
    }
    .content-box{
        padding-left: 80px;
    }
    .content-box1 , .content-box2 ,.content-box3{
        max-width: 30%; 
        margin: 0 45px 0 0;
    
    }
    
  
}
@media (min-width:300px) and (max-width:600px) {
    
    .content-title{
        font-family: "Roboto Slab", serif;
        font-size: 24px;
        padding-left: 45px;
    } 
    .title{
        font-size: 12px;
        color: #1E4681;
    }
    .paragraph{
        font-size: 10px ;
        line-height: 130%;
        width: 170px;
        margin-top: 10px;
    }
    .content-box{
        font-family: "Roboto", serif;
          display: flex;
          flex-direction: column;
         margin-top: 30px;
         padding-left: 50px;
          
    }
    .content-box1 , .content-box2 ,.content-box3{
        max-width: 30%; 
        margin: 0 80px 0 0;
        margin-top: 30px;
    }
    

}

#movie-section{
    height: 100vh;
}
.container{
    max-width: 1440px;
overflow: hidden;
margin: 0 auto;
height: 100%;
padding: 20px  80px 0;
}
.desc-combination{
  
    display: flex;
    flex-direction: column;
    margin-top: 80px;
  padding-bottom: 30px;


}
.img-desc{
   
margin-left: 250px;
margin-top: 30px;
}
img{
    max-width: 100%;
 
}
.img{
  max-width: 100%;
}
.icons{
    display: flex;
    margin-bottom: 40px;
}
.icon{
    display: flex;
    align-items: center;
   margin: 0 30px 0 0;
}
.desc{
    margin-left: 5px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
h1{
    font-size: 80px;
    font-family: "Roboto Slab", serif;
    line-height: 101.4%;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
.basic-desc{
    max-width: 100%;
/* margin-top: 30px; */
    display: flex;
   
 
}
.default{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  /* max-width: 73%; */
 /* width: 414px; */
  line-height: 30px;
  font-weight: 400;
  padding-right: 148px;
  
}
.main-content{
    max-width: 45%;
    
}
.blue-box{
    background-color: #1E4681;
 max-width: 450px;
    border-radius: 5px;

 color: white;
    padding: 15px 20px 15px 25px;
    font-family: "Roboto Slab", serif;
 
    margin: 70px 0px 0 340px;
}
.inner{
    font-size: 25px;
    font-family: "Roboto Slab", serif;
}
.outhor{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 8px;
    text-align: end;
}
@media (min-width:601px) and (max-width:801px) {
    .container{
       max-width: 100%;
    
    margin: 0 auto;
    /* height: 100%; */
    padding: 20px  50px 0;
    }
    .logo{
    max-width: 13%;
   

 }
 .logoo{
    max-width: 100%;
 }

 .icons{
    display: flex;
    margin-bottom: 20px;
 
    max-width: 100%;
    
}
.img{
   
    max-width: 20%;
}
.icon{
    display: flex;
    align-items: center;
   margin: 0 20px 0 0;
 
}
.main-content{
    max-width: 65%;
  
 
}
.iconn{
    max-width: 100%;
}
h1{
    font-size: 46px;
    line-height: 101.4%;
  
  
}
.desc{
    margin-left: 5px;
    font-size: 12px;
   
    font-family: "Roboto", sans-serif;
}
.default{
    font-size: 12px;
    font-family: "Roboto", sans-serif;
  /* max-width: 73%; */
  width: 264px;
  line-height: 150%;
  font-weight: 400;
  padding-right: 0px;
  
}
.basic-desc{
    max-width: 100%;
/* margin-top: 30px; */
    display: flex;
 
 
  
   
 
}
.img-desc{
   
    margin-left: auto;
    /* margin-top: 0px; */
    max-width: 30%;
   
    
    }
    .main-img{
        max-width: 100%;
    }
    .desc-combination{
  
        display: flex;
        flex-direction: column;
        margin-top: 80px;
      padding-bottom: 30px;
 
    /* justify-content: center; */
    
    }
    .blue-box{
        background-color: #1E4681;
    /* max-width: 55%; */
  
        border-radius: 5px;
        max-width: 260px;
     color: white;
        padding: 15px;
        font-family: "Roboto Slab", serif;
     
      margin:  70px auto 0 ;
    }
    .inner{
        font-size: 14px;
        font-family: "Roboto Slab", serif;
    }
    .outhor{
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        margin-top: 8px;
        text-align: end;
    }
}
@media (min-width:801px) and (max-width:990px) {
    .container{
        max-width: 100%;
     
     margin: 0 auto;
     /* height: 100%; */
     padding: 20px  70px 0;
     }
     .logo{
     max-width: 13%;
    
 
  }
  .logoo{
     max-width: 100%;
  }
 
  .icons{
     display: flex;
     margin-bottom: 30px;
   
     max-width: 100%;
     
 }
 .img{
    
     max-width: 20%;
 }
 .icon{
     display: flex;
     align-items: center;
    margin: 0 20px 0 0;
  
 }
 .main-content{
     max-width: 50%;
    
  
 }
 .iconn{
     max-width: 100%;
 }
 h1{
     font-size: 46px;
     line-height: 101.4%;
   
   
 }
 .desc{
     margin-left: 5px;
     font-size: 12px;
    
     font-family: "Roboto", sans-serif;
 }
 .default{
     font-size: 12px;
     font-family: "Roboto", sans-serif;
   /* max-width: 73%; */
 width: 264px;

   line-height: 150%;
   font-weight: 400;
   padding-right: 0;

   
 }
 .basic-desc{
     max-width: 100%;
 /* margin-top: 30px; */
     display: flex;
  
  
    
    
  
 }
 .img-desc{
    
     margin-left: 120px;
     /* margin-top: 0px; */
    width: 207px;
    
     
     }
     .main-img{
         max-width: 100%;
     }
     .blue-box{
        background-color: #1E4681;
    
        border-radius: 5px;
        /* max-width: 40%; */
        max-width: 260px;
     color: white;
        padding:15px;
        font-family: "Roboto Slab", serif;
     
      margin:  70px auto 0 ;
    }
    .inner{
        font-size: 14px;
        font-family: "Roboto Slab", serif;
    }
    .outhor{
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        margin-top: 8px;
        text-align: end;
    }



}
@media (min-width:300px) and (max-width:600px) {
    .container{
        max-width: 100%;
    
     margin: 0 auto;
 
     padding: 20px  0px 0px 40px;
     }
     .logo{
     max-width: 15%;
    
 
  }
  .logoo{
     max-width: 100%;
  }
 
  .icons{
     display: flex;
     margin-bottom: 20px;
 
     max-width: 100%;
     
 }
 .img{
    
     max-width: 20%;
 }
 .icon{
     display: flex;
     align-items: center;
    margin: 0 10px 0 0;
  
 }
 .main-content{
     max-width: 100%;
  
    overflow: hidden;
  
 }
 .iconn{
     max-width: 100%;
 }
 h1{
     font-size: 37px;
    
     line-height: 101.4%;
     width: 293px;
   
   
 }
 .desc{
     margin-left: 5px;
     font-size: 10px;
  
     font-family: "Roboto", sans-serif;
 }
 .default{
     font-size: 10px;
     font-family: "Roboto", sans-serif;
   /* max-width: 73%; */
 width: 213px;
line-height: 150%;
  
   padding-right: 0;

   
 }
 .basic-desc{
     max-width: 100%;
 /* margin-top: 30px; */
     display: flex;
  flex-direction: column;

  
    
  
 }
 .img-desc{
    
     margin-left: auto;
     /* margin-top: 0px; */
  padding-right: 30px;
    width: 191px;
 
     
     }
     .main-img{
         max-width: 100%;
     }
     .blue-box{
        background-color: #1E4681;
    
        border-radius: 5px;
      max-width: 220px;
     color: white;
        padding:15px;
        font-family: "Roboto Slab", serif;
     
      margin:  70px 0 0 0 ;
    }
    .inner{
        font-size: 11px;
        font-family: "Roboto Slab", serif;
    }
    .outhor{
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        margin-top: 8px;
        text-align: end;
    }

    .desc-combination{
  
        display: flex;
        flex-direction: column;
        margin-top: 50px;
      padding-bottom: 0px;
}

}
@media (min-width:990px) {

h1{
width: 628px;

}






.default{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  /* max-width: 73%; */
 width: 414px;
  line-height: 30px;
  font-weight: 400;
  padding-right: 0px;
  
}

.icons{
    display: flex;
    margin-bottom: 40px;
    
    width: 628px;
}
.icon{
    display: flex;
    align-items: center;
   margin: 0 20px 0 0;
   
}
.desc{
    margin-left: 5px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}


}
